
/* Styles imports */
@import url('https://fonts.googleapis.com/css?family=Oswald:300|Teko&display=swap');

.nav-style {
  display: flex;
  background-color: crimson;
  width: 100%;
  align-items: center; 
}

.navbar-first-column {
  display: flex;
  background-color: grey;
  width: 80%;
  justify-content: flex-start;
}

.navbar-second-column {
  display: flex;
  background-color: silver;
  width: 20%;
  justify-content: center;
}

.li-style {
  font-size: 20px;
  padding: 12px;
}

a {
  color: White;
  text-decoration: none;
}

a:hover {
  color: rgb(36, 36, 36);
  transition: 0.3s;
}

.movie-poster {
  width: 260px;
  height: 380px;
  margin: 5px;
  border: 1px Solid Black;
}

.movie-poster:hover {
  border: 1px Solid White;
  transition: 0.3s;
}

.movies-container {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  max-height: max-content;
}

.movie-poster-mini {
  width: 100%;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
}

.movie-title {
  font-family: 'Teko', sans-serif;
  font-style: normal;
  font-size: 3em;
  margin: unset;
}

.movie-plot {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1em;
  margin: unset;
  max-width: 450px;
}

.movie-runtime {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1em;
  margin: unset;
}

.movie-genre {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1em;
  margin: unset;
}

.movie-content-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.movie-content-container-c1 {
  background-color: transparent;
}

.movie-content-container-c2 {
  background-color: transparent;
  padding: 20px;
  height: fit-content;
}

.movie-content-container-c2-r1 {
  margin-bottom: 20px;
}

.movie-form-label {
  font-family: 'Oswald', sans-serif;
  margin-right: 10px;
}

.movie-form-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px 18px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
  border-radius: 11px;
  font-family: 'Oswald', sans-serif;
}

.movie-form-btn:hover {
  background-color: #343434;
}

.movie-form-c1 {
  display: flex;
  justify-content: center;
}

.movie-form-c2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}