
/* Styles imports */
@import url('https://fonts.googleapis.com/css?family=Oswald:300|Teko&display=swap');

/* ------------------------------------------------ */
/* Colors & shadows */
/* ------------------------------------------------ */

/* text-shadow: 2px 2px 5px black; */
/* box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75); */

/* ------------------------------------------------ */
/* Basic setup */
/* ------------------------------------------------ */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------ */
/* Reusable classes */
/* ------------------------------------------------ */

.row {
  max-width: 1200px;
  margin: 0 auto; /* Top & Bottom will be 0, and Right & Left will be auto */
}

/* ------------------------------------------------ */
/* navbar.component */
/* ------------------------------------------------ */

.nav-style {
  display: flex;
  padding-left: 10px;
  height: 10vh;
  line-height: 10vh;
  font-family: 'Oswald', sans-serif;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
}

.navbar-first-column {
  width: 80%;
  display: inherit;
  list-style: none;
}

.navbar-first-column li {
  margin-right: 25px;
}

.navbar-second-column {
  width: 20%;
  display: inherit;
  justify-content: center;
}

.link-style {
  font-size: 22px;
  color: White; 
  text-shadow: 2px 2px 5px Black;
  text-decoration: none;
  transition: 0.3s;
}

.link-style:hover {
  color:#bcbbbb;
}

.winter {
  background-image: url(./images/winter.gif);
  background-position: center;
  background-size: cover;
}
.summer {
  background-image: url(./images/summer.gif);
  background-position: center;
  background-size: cover;
}
.autumn {
  background-image: url(./images/autumn.gif);
  background-position: center;
  background-size: cover;
}
.spring {
  background-image: url(./images/spring.gif);
  background-position: center;
  background-size: cover;
}

/* ------------------------------------------------ */
/* home.component */
/* ------------------------------------------------ */

.home-div-wrapper {
  min-height: 650px;
  height: 90vh;
  background-image: url("./images/movies_background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
  border-top: 1px Solid White;
}

.home-div-container {
  background-color: #0000008c;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px Solid White;
  border-bottom: 1px Solid White;
}

.home-div-container h1 {
  max-width: 1000px;
  color: White;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
  font-size: 4.5em;
  font-family: 'Oswald', sans-serif;
}

.home-div-container p {
  padding-top: 10px;
  padding-bottom: 20px;
  color: White;
  font-family: 'Oswald', sans-serif;
}

/* ------------------------------------------------ */
/* searched-movies-container.component */
/* ------------------------------------------------ */

.movies-search-section {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.movies-search-section label {
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  margin-right: 5px;
}

.movies-search-section form div:nth-child(2) {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.movies-search-section form div:nth-child(2) input {
  border: none;
  background-color: #000000;
  color: white;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin: 0px 3px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
}

.movies-search-section form div:nth-child(2) input:hover {
  background-color: #343434;
}

.movies-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 30vh;
  max-height: max-content;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap; /* to keep the shown items within the container */
  justify-content: center;
  margin-bottom: 10vh;
}

.container-empty-heading {
  font-family: 'Teko', sans-serif;
  font-style: normal;
  font-size: 2.5em;
  line-height: 30vh;
}

.container-movie-item {
  width: 260px;
  height: 380px;
  padding: 5px;
}

.container-movie-item img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.container-movie-item img:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
}

/* ------------------------------------------------ */
/* movie-information.component */
/* ------------------------------------------------ */

.movie-poster-mini {
  width: 100%;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
}

.movie-title {
  font-family: 'Teko', sans-serif;
  font-style: normal;
  font-size: 3em;
  margin: unset;
}

.movie-plot {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1em;
  margin: unset;
  max-width: 450px;
}

.movie-runtime {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1em;
  margin: unset;
}

.movie-genre {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1em;
  margin: unset;
}

.movie-content-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.movie-content-container-c1 {
  background-color: transparent;
}

.movie-content-container-c2 {
  background-color: transparent;
  padding: 20px;
  height: fit-content;
}

.movie-content-container-c2-r1 {
  margin-bottom: 20px;
}

.movie-form-label {
  font-family: 'Oswald', sans-serif;
  margin-right: 10px;
}

.movie-form-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px 18px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
  border-radius: 11px;
  font-family: 'Oswald', sans-serif;
}

.movie-form-btn:hover {
  background-color: #343434;
}

.movie-form-c1 {
  display: flex;
  justify-content: center;
}

.movie-form-c2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.movie-content-container-c2-r3 {
  display: flex;
  justify-content: center;
}

.post-mess-returned {
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  margin: unset;
}

.successfull-mess {
  color: darkgreen;
}

.unsuccessfull-mess {
  color: darkred;
}

/* ------------------------------------------------ */
/* My list of Movies - container */
/* ------------------------------------------------ */

.moviesList-container {
  max-width: 1200px;
  margin: 10px auto 25px auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.moviesList-c1 {
  width: 1200px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.moviesList-c1-filter-btn {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 0px 3px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
  border-radius: 8px;
  font-family: 'Oswald', sans-serif;
}

.moviesList-c1-filter-btn:hover {
  cursor: pointer;
}

.filter-is-clicked {
  background-color: #aeaeae;
}

/* ------------------------------------------------ */
/* Table */
/* ------------------------------------------------ */

.content-table {
  font-family: 'Oswald', sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  min-width: 1200px;
  padding: 10px;
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.5);
  border-bottom: 2px solid Black;
}

.content-table thead tr {
  background-color: black;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.content-table td {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-top: 1px Solid #00000026;  
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #00000009;
}

.content-table tbody tr:hover {
  background-color: #e5e5e5;
}

.table-poster {
  width: 90px;
  height: 132px;
  display: block;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.table-remove-btn {
  font-weight: bold;
  color: Black;
  text-decoration: none;
}

.table-remove-btn:hover {
  font-weight: bold;
  color: darkred;
}

.table-edit-btn {
  font-weight: bold;
  color: Black;
  text-decoration: none;
}

.table-edit-btn:hover {
  font-weight: bold;
  color: darkgreen;
}

/* login.component */

.login-wrapper {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
  height: fit-content;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
